@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0e18;
  --foreground: #fcfcfd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0e18;
    --foreground: #fcfcfd;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Anuphan';
}